@model BookingSystem.Models.SecondarySchoolSurvey

@{
    ViewBag.Title = "Details";
}

<br/>
<br/>



    <div class="container">

        <h4 style="text-align:center;"><strong>Survey Details</strong></h4>
        <br />

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-5">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.RollNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RollNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(mnodel => Model.OfficialSchoolName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(mnodel => Model.OfficialSchoolName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CampDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CampDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FilePage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FilePage)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Flag)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Flag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FlagContent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FlagContent)
                    </dd>
                </dl>

            </div>

            <div class="col-lg-5 corps">
                <dt>
                    @Html.DisplayNameFor(model => model.Q1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q6b)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q6b)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q6a)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q6a)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.SurveyFileName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SurveyFileName)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.Q7)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q7)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q8)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q8)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q9)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q9)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q10)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q10)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q11)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q11)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q12)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q12)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q13a)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q13a)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q13b)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q13b)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q14a)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q14a)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q14b)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q14b)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q14c)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q14c)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q15)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q15)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q16)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q16)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q17)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q17)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q18)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q18)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q19)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q19)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Q20)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Q20)
                </dd>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>

@*<div>
    <h4>SecondarySchoolSurvey</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q6b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q6b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q6a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q6a)
        </dd>

        <dt>
                @Html.DisplayNameFor(model => model.SurveyFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SurveyFileName)
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q13a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q13a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q13b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q13b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q14a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q14a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q14b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q14b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q14c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q14c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlagContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagContent)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
