@model BookingSystem.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<br />
<h3>Are you sure you want to delete this Booking entry?</h3>
<h4>@Model.OfficialSchoolName</h4>
<br />
<hr />

<div>
    <dl class="dl-horizontal">

        <h4>School Contact Details</h4>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialSchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialSchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.PrincipalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrincipalName)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eircode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eircode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <hr />
        <h4>Camp Details</h4>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surveys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surveys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassGroups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassGroups)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topics)
        </dd>

        <hr />
        <h4>Additional School Details</h4>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.LocalAuthority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalAuthority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeisSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeisSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PupilAttendanceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PupilAttendanceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrishClassification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrishClassification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GaeltachtArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GaeltachtArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeePayingSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeePayingSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenClosedStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenClosedStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalGirls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalGirls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBoys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBoys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPupils)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPupils)
        </dd>

        <hr />
        <h4>School Coordinates</h4>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITMEast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITMEast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITMNorth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITMNorth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
