@model BookingSystem.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br/>
<h4>@Model.OfficialSchoolName Camp Booking</h4>
<hr />


<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RollNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RollNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OfficialSchoolName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OfficialSchoolName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TeacherName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TeacherName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address3)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address4)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address4)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Eircode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Eircode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.County)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.County)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Surveys)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Surveys)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AcademicYear)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AcademicYear)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LocalAuthority)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LocalAuthority)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.X)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.X)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Y)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Y)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ITMEast)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ITMEast)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ITMNorth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ITMNorth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Latitude)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Latitude)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Longitude)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Longitude)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClassGroups)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClassGroups)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Topics)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Topics)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LecturerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LecturerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrincipalName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrincipalName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeisSchool)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeisSchool)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SchoolGender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SchoolGender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PupilAttendanceType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PupilAttendanceType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IrishClassification)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IrishClassification)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GaeltachtArea)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GaeltachtArea)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FeePayingSchool)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FeePayingSchool)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Religion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Religion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OpenClosedStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OpenClosedStatus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalGirls)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalGirls)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalBoys)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalBoys)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalPupils)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalPupils)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>


        </div>


        <div class="col-lg-6">
            <br />
   
            <p>
                <button style="width:550px" formtarget="_blank" onclick="window.open('https://www.google.com/maps/search/?api=1&query=@Model.OfficialSchoolName+@Model.Address1+@Model.County+@Model.Eircode')"
                        type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Get Directions
                </button>
            </p>


            <div id="map" style="height: 550px; width: 550px; margin-top:10px; "></div>

        </div>




    </div>
</div>






<!--GoogleMaps API-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWlIQIpK1TyUjyUE5d0nvH-hUV6D0rcyE&callback=initMap">
</script>

<script>


    function initMap() {
        var map;
        var geocoder = new google.maps.Geocoder();

        //pass school name, address and Eircode to the geocode API to parse into LAT LNG
        var address = '@Model.OfficialSchoolName, @Model.Address1, @Model.County, @Model.Eircode, Ireland';
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });

        var latlng = new google.maps.LatLng(-15.15, 20.65);
        var mapOptions = {
            zoom: 16,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }

</script>



@*<script>

        $(function () {
            $('#exampleModal').modal('hidden');
        });

    </script>*@